[defaults]
# Use the local inventory file
inventory = inventory.ini

# Disable host key checking for ease of initial/demo deployments
host_key_checking = False

# Enable human-readable stdout callback for output readability using native default and yaml formatting
stdout_callback = ansible.builtin.default
result_format = yaml

[ssh_connection]
# Enable SSH pipelining to speed up execution by reducing control channel traffic
pipelining = True
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
ssh_args = -o ForwardAgent=yes
